.film {
    padding: 5.6vw;

    h2 {
        text-align: center;
        color: #404040;
    }

    &__list {
        display: flex;
        justify-content: space-around;

        @media (max-width: 768px) {
            display: block;
            margin: 0 25% 0 25%;
        }

        .button {
            margin-top: 24px;
        }

        &__item {
            text-align: center;
            padding: 60px 44px 44px;
            max-width: 380px;
            width: 100%;

            img {
                height: 24vw;
                @media (max-width: 768px) {
                    height: auto;
                    width: 100%;
                }
            }

            strong {
                display: block;
                margin-top: 24px;
            }

        }
    }
    
    p {
        text-align: center;
    }

}