$corDeFundo: #ffffff;
$corDeFundoHero: #151515;
$corDeFundoHeader: #202020;
$corTextoPrincipal: rgb(163, 160, 160);
$corTextoSecundario: #f9f9f9;
$corDeFundoBotaoPrimario: #e62429;
$corDeFundoBotaoSecundario: #0063e5;
$corDeFundoBotaoDark: #000;
